.title {
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(45deg, #2dace2, #bee69f, #f7860c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.collapsed {
    width: 20px;
    height: 20px;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: -20px;
    cursor: pointer;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
}
:global(.ant-layout-sider) {
    :hover {
        .collapsed {
            display: flex;
        }
    }
}
.container {
    height: 100%;
    .content {
        height: calc(100% - 64px - 78px);
        overflow-y: auto;
    }
}
