.ulcontainer {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background-color: #f8f8fa;
    color: #676b76;
    height: 100%;
    > li {
        width: 83px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        &.selected {
            font-weight: 700;
            background-color: #fff;
            color: #0c0d24;
            > i {
                width: 12px;
                height: 12px;
                background: #fff;
                overflow: hidden;
                position: absolute;
                display: block;
                right: 0;
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: #f8f8fa;
                    display: block;
                }
                &:nth-child(2) {
                    top: -12px;
                    border-radius: 100% 0 0 0;
                    &::after {
                        border-radius: 100% 0 100% 0;
                    }
                }
                &:last-child {
                    bottom: -12px;
                    border-radius: 0 0 0 100%;
                    &::after {
                        border-radius: 0 100% 0 100%;
                    }
                }
            }
        }
    }
}