.layout {
  height: 100%;
}

.header {
  padding: 0 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header_btn {
    margin-left: 20px !important;
  }
}
.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content_iframe {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}
